:root {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #FFFFFB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  height: 100vh;
}

#root {
  margin: 0;
  width: 100%;
  height: calc(100vh - 57px - 72px);
  display: flex;
  justify-content: center;

  background-color: #FFFFFB;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: calc(100vh - 57px);
  margin-top: 57px;
  margin-bottom: 72px;
}

.container {
  max-width: 1366px;
  width: 100%;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.primary-color {
  background-color: #2E50D4;
  color: #FFFFFB;
  border: none;
  border-radius: 8px;
}

.secondary-color {
  background-color: #FFFFFB;
  color: #2E50D4;
  border: 2px solid #2E50D4;
  border-radius: 6px;
}